<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>ksbib | Bearbeiten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="all"/>
    <script src="../app/main.js"></script>
    <script src="../app/sql.js"></script>
    <script src="../app/neuaufnahme-und-bearbeiten.js"></script>
    <script src="../app/sqlproc.js"></script>
    <script src="../app/validation.js"></script>
    <script src="../app/findMedia.js"></script>
    <script src="../app/table.js"></script>
    <script src="../app/journalData.js"></script>
    <script src="../app/bookData.js"></script>
    <script src="../app/essayData.js"></script>
    <script src="../app/articleData.js"></script>
    <script src="../app/incollectionData.js"></script>
    <script src="../app/sqlProcFunctions.js"></script>
</head>         


<body onunload="selFrm.reset();">

<header>
    <h1 id="headerTitel">Medien bearbeiten</h1>
</header>

<nav>
    <ul class="dropdown">
        <a href="index.html" id="navMedien">Medien</a>
        <div class="dropdown-content">
            <a href="sachgebietssuche.html">Sachgebietssuche</a>
            <a href="neuaufnahme.html">Hinzufügen</a>
            <a href="bearbeiten.html">Bearbeiten</a>
            <a href="entfernen.html">Entfernen</a>
        </div>
    </ul>
    <ul class="dropdown">
        <a href="sonstiges.html" id="navSonstiges">Sonstiges</a>
        <div class="dropdown-content">
            <a href="standorte.html">Standorte</a>
            <a href="sachgebiete.html">Sachgebiete</a>
            <a href="doku.html">Dokumentation</a>
            <a href="filepath.html">Dateipfad</a>
        </div>
    </ul>
    <ul class="floatright">
        <a id="navBeenden" onclick="closeApp()">&#x23FC;</a>
    </ul>    
</nav>

<article>

    <form id='selFrm' class="center">
        <div class='rTable'>
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell left middle">
                    <label for="selId">ID</label><br>
                    <input type="text" id="selId" class="txt" size="5" autofocus>
                </div>
                <div class="rTableCell left middle">
                    <label for="selTitel">Titel</label><br>
                    <input type="text" id="selTitel" class="txt" size="5" autofocus>
                </div>
                <div class='rTableCell middle'><br>
                    <input type="button" id="selOKBtn" class="btn" value="OK">
                </div>
            </div>
        </div>
        </div>
        <div id="selFrmWarnFld" class="warning center"></div>
    </form>


    <div id="outFld">
        <div class="info">
            <p>
                Bitte gib die ID und / oder ein Titelfragment des Mediums ein, das Du bearbeiten möchtest. 
                Die ID ist der Zähler in der Signatur des Mediums, z.B. "400" bei dem Medium mit Signatur 
                "WZ-S-1 400". Falls Du die ID nicht kennst, kannst Du das Medium <a href="index.html">suchen</a>.
            </p>
        </div>
    </div>

</article>

<script src="../app/shortkeys.js"></script>
<script>
    /*
        FORMULARE
    */
    let aktion = "bearbeiten"; 
    let typeOfMedium;
    let mediumData;
    let oldData;

    let xhttpResponse = async function (xhttp)
    {
        document.getElementById("outFld").innerHTML = xhttp.responseText;
        onenterCheckbox();   //requires shortkeys,js

    }

    let selFrm = new cformular(document.getElementById("selFrm"), document.getElementById("selFrmWarnFld"), document.getElementById("outFld"), document.getElementById("selOKBtn"));
    selFrm.newSbmt( async function () 
    {
        if (selFrm.elements[0].value === "" && selFrm.elements[1].value === "") {
            return selFrm.warnFld.innerHTML = message[0]("Suchbegriff");
        }
        let matchingIDs;
        let result; 
        let tblArr = [];
        let id = conformAndValidateNumber(selFrm.elements[0], 0, false);
        let titel = conformAndValidateTitle (selFrm.elements[1], 1, false);
        async function callFormularBearbeiten (idArr)
        {
            typeOfMedium = await dbGet(sql[35], mediumData[0]).catch(err => {return console.error(err)});
            typeOfMedium = typeOfMedium.medientyp;
            if (typeOfMedium === "Buch" && idArr[3] !== 0) {
                typeOfMedium = "Buchaufsatz";
            } else if (typeOfMedium === "Zeitschrift" && idArr[3] !== 0) {
                typeOfMedium = "Artikel";
            }
            document.getElementById("headerTitel").innerHTML = typeOfMedium + " " + aktion; 
            selFrm.warnFld.innerHTML = "";
            switch (typeOfMedium) {
                case "Zeitschrift" : xhr("formular-zeitschrift.html", xhttpResponse); break;
                case "Artikel" : xhr("formular-artikel+buchaufsatz.html", xhttpResponse); break;
                case "Aufsatz" : xhr("formular-aufsatz.html", xhttpResponse); break;
                case "Buchaufsatz" : xhr("formular-artikel+buchaufsatz.html", xhttpResponse); break;
                default : xhr("formular-buch.html", xhttpResponse);    //Buch
            }
        }

        if (id === null) {
            matchingIDs = await dbAll(sqlTitelID(titel[0], 10, 0), []).catch(err => {return console.error(err)});
        } else if (titel.length === 0) {
            matchingIDs = await dbAll(sql[29], id).catch(err => {return console.error(err)});
        } else {
            matchingIDs = await dbAll(sqlTitelObjID(id, titel[0]),[]).catch(err => {return console.error(err)});    
        }
        if (matchingIDs === undefined) {
            return selFrm.warnFld.innerHTML = "Zu der Eingabe existiert kein Medium";
        } else {
            matchingIDs = matchingIDs.map(item => 
            {
                return [item.objektid, item.zeitschriftid, item.buchid, item.aufsatzid]
            });
        }
        if (matchingIDs.length > 1) {
            result = await findMediaResultArr(matchingIDs);
            selFrm.outFld.innerHTML = "";
            document.getElementById("headerTitel").innerHTML = "Medien " + aktion; 
            cOutputTbl (selFrm.outFld, "selTbl", 
                ["ID", "Autoren", "Titel und Verweise", "Jahr", "Typ", "Standort", "Status"], result);
            tblArr = Array.from(document.getElementsByName("selTbl")[0].rows);
            tblArr.forEach(row => 
            {
                if (tblArr.indexOf(row) === 0) {
                    return row;
                } else {
                    row.setAttribute("class","hoverable");
                    return row.addEventListener("click",(()=>
                    {
                        //Requires that the table is ordered like matchingIDs 
                        //which is asserted in findMedia.js, outputArray()
                        mediumData = matchingIDs[tblArr.indexOf(row)-1];
                        return callFormularBearbeiten(mediumData);
                    }));
                }
            });
            tblAddEventListenerArrow();
        } else {
            mediumData = matchingIDs[0];
            return callFormularBearbeiten(mediumData);
        }
    })
    selFrm.sbmtBtn.addEventListener("click", selFrm.sbmt);
    selFrm.onenter = function (event) 
    {
        function checkKey (event) {
            if (event.keyCode === 13 || event.which === 13) {
                event.preventDefault();
                selFrm.sbmtBtn.click();
            }
        }
        selFrm.textFld[0].addEventListener("keypress", checkKey);
        selFrm.textFld[1].addEventListener("keypress", checkKey);
    }
    selFrm.onenter();
    selFrm.oninput = function ()
    {
        function clear ()
        {
            selFrm.warnFld.innerHTML = "";
        }
        return Array.from(selFrm.textFld).forEach(fld => {return fld.addEventListener("input",clear)});
    }
    selFrm.oninput();

    let boolean = false;
    function esc (event)
    {
        if (event.key === "Escape" || event.code === "Escape") {
            event.preventDefault();
            if (boolean === true ) {
                let btns = Array.from(document.getElementsByName("tblBtn"));
                btns.forEach(btn => {return btn.removeEventListener("keydown", tblBtn_onArrow)});
            }
            return document.getElementById("selId").select();
        }
    }
    document.getElementsByTagName("body")[0].addEventListener("keydown", esc, false);

    
    selFrm.textFld[0].addEventListener("keydown", function () {return boolean = enterTableOnArrowDown(event, "selTbl")});
    selFrm.textFld[1].addEventListener("keydown", function () {return boolean = enterTableOnArrowDown(event, "selTbl")});
    
</script>

</body>

<footer>
</footer>
</html>