<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>ksbib | Bearbeiten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="all"/>
    <script src="../app/main.js"></script>
    <script src="../app/neuaufnahme-und-bearbeiten.js"></script>
    <script src="../app/validation.js"></script>
</head>         


<body onunload="selFrm.reset();">

<header>
    <h1 id="headerTitel">Medien Bearbeiten</h1>
</header>

<nav>
    <ul class="dropdown">
        <li><a href="index.html">Medien</a></li>
        <div class="dropdown-content">
            <li><a href="sachgebietssuche.html">Sachgebietssuche</a></li>
            <li><a href="neuaufnahme.html">Hinzufügen</a></li>
            <li><a href="bearbeiten.html">Bearbeiten</a></li>
            <li><a href="entfernen.html">Entfernen</a></li>
        </div>
    </ul>
    <ul class="dropdown">
        <li><a href="sonstiges.html">Sonstiges</a></li>
        <div class="dropdown-content">
            <li><a href="standorte.html">Standorte</a></li>
            <li><a href="sachgebiete.html">Sachgebiete</a></li>
        </div>
    </ul>
</nav>

<article>

    <form id='selFrm' class="center">
        <div class='rTable'>
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell">
                    <label for="selStr">ID</label>
                </div>
                <div class='rTableCell'>
                    <input type="text" id="selStr" class="txt" size="5" autofocus>
                </div>
                <div class='rTableCell'>
                    <input type="button" id="selOKBtn" class="btn" value="OK">
                </div>
            </div>
        </div>
        </div>
        <div id="selFrmWarnFld" class="warning center"></div>
    </form>


    <div id="outFld">
        <div class="info">
            Bitte gib die ID des Mediums ein, das Du bearbeiten möchtest. Die ID ist der Zähler in
            der Signatur des Mediums, z.B. "400" bei dem Medium mit Signatur "CD-2 400". Falls Du
            die ID nicht kennst, kannst Du das Medium <a href="index.html">suchen</a> und von den
            Suchergebnissen aus die Maske zum Bearbeiten des Mediums öffnen.
        </div>
    </div>

</article>

<script>
    /*
        FORMULARE
    */

    aktion = "bearbeiten"; // defined in neuaufnahme-und-bearbeiten.js
    let selFrm = new cformular(document.getElementById("selFrm"), document.getElementById("selFrmWarnFld"), document.getElementById("outFld"), document.getElementById("selOKBtn"));
    selFrm.newSbmt(
        function () 
        {
            typeOfMedium = "Aufsatz"; // defined in neuaufnahme-und-bearbeiten.js
            switch (typeOfMedium) {
                case "Zeitschrift" : xhr("formular-zeitschrift.html", selFrm.res); break;
                case "Artikel" : xhr("formular-artikel.html", selFrm.res); break;
                case "Aufsatz" : xhr("formular-aufsatz.html", selFrm.res); break;
                case "Buchaufsatz" : xhr("formular-buchaufsatz.html", selFrm.res); break;
                default : xhr("formular-buch.html", selFrm.res);    //Buch
            }
        })
    selFrm.sbmtBtn.addEventListener("click", selFrm.sbmt);
    selFrm.onenter = function (event) 
    {
        function checkKey (event) {
            if (event.keyCode == 13 || event.which == 13) {
                selFrm.sbmtBtn.click();
            } else {return;}
        }
        selFrm.textFld[0].addEventListener("keypress", checkKey);
    }
    selFrm.onenter();

    



//TO DO: onfocusout -> die Sachgebietsnamen zu den eingegebenen sachgebietsnummern anzeigen
     
</script>

</body>

<footer>
</footer>
</html>