<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>ksbib | Bearbeiten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="all"/>
    <script src="../app/main.js"></script>
    <script src="../app/sql.js"></script>
    <script src="../app/neuaufnahme-und-bearbeiten.js"></script>
    <script src="../app/sqlproc.js"></script>
    <script src="../app/validation.js"></script>
    <script src="../app/findMedia.js"></script>
    <script src="../app/table.js"></script>
    <script src="../app/journalData.js"></script>
    <script src="../app/bookData.js"></script>
    <script src="../app/essayData.js"></script>
    <script src="../app/articleData.js"></script>
    <script src="../app/incollectionData.js"></script>
    <script src="../app/sqlProcFunctions.js"></script>
</head>         


<body onunload="selFrm.reset();">

<header>
    <h1 id="headerTitel">Medien bearbeiten</h1>
</header>

<nav>
    <ul class="dropdown">
        <a href="index.html" id="navMedien">Medien</a>
        <div class="dropdown-content">
            <a href="sachgebietssuche.html">Sachgebietssuche</a>
            <a href="neuaufnahme.html">Hinzufügen</a>
            <a href="bearbeiten.html">Bearbeiten</a>
            <a href="entfernen.html">Entfernen</a>
        </div>
    </ul>
    <ul class="dropdown">
        <a href="sonstiges.html" id="navSonstiges">Sonstiges</a>
        <div class="dropdown-content">
            <a href="standorte.html">Standorte</a>
            <a href="sachgebiete.html">Sachgebiete</a>
            <a href="doku.html">Dokumentation</a>
        </div>
    </ul>
    <ul class="floatright">
        <a id="navBeenden" onclick="closeApp()">&#x23FC;</a>
    </ul>    
</nav>

<article>

    <form id='selFrm' class="center">
        <div class='rTable'>
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell left middle">
                    <label for="selId">ID</label><br>
                    <input type="text" id="selId" class="txt" size="5" autofocus>
                </div>
                <div class="rTableCell left middle">
                    <label for="selTitel">Titel</label><br>
                    <input type="text" id="selTitel" class="txt" size="5" autofocus>
                </div>
                <div class='rTableCell middle'><br>
                    <input type="button" id="selOKBtn" class="btn" value="OK">
                </div>
            </div>
        </div>
        </div>
        <div id="selFrmWarnFld" class="warning center"></div>
    </form>


    <div id="outFld">
        <div class="info">
            <p>
                Bitte gib die ID und / oder ein Titelfragment des Mediums ein, das Du bearbeiten möchtest. 
                Die ID ist der Zähler in der Signatur des Mediums, z.B. "400" bei dem Medium mit Signatur 
                "WS-1 400". Falls Du die ID nicht kennst, kannst Du das Medium <a href="index.html">suchen</a>.
            </p>
        </div>
    </div>

</article>

<script src="../app/shortkeys.js"></script>
<script>
    /*
        FORMULARE
    */
    typeOfMedium = "";
    aktion = "bearbeiten"; 
    selectedID = "";
    selectedIncollID = "";
    olddata = "";

    let selFrm = new cformular(document.getElementById("selFrm"), document.getElementById("selFrmWarnFld"), document.getElementById("outFld"), document.getElementById("selOKBtn"));
    selFrm.mediumData = "";
    selFrm.newSbmt( async function () 
    {
        if (selFrm.elements[0].value === "" && selFrm.elements[1].value === "") {
            return selFrm.warnFld.innerHTML = message[0]("Suchbegriff");
        }
        let matchingIDs;
        let mediumData;
        let tblArr = [];
        let id = conformAndValidateNumber(selFrm.elements[0], 0, false);
        let titel = conformAndValidateTitle (selFrm.elements[1], 1, false);
        async function callFormularBearbeiten (mediumData)
        {
            let xhttpResponse = function (xhttp)
            {
                document.getElementById("outFld").innerHTML = xhttp.responseText;
                onenterCheckbox();   //requires shortkeys,js
                return prepareFormsBearbeiten(mediumData, typeOfMedium);
            }
            typeOfMedium = mediumData[0][4];
            document.getElementById("headerTitel").innerHTML = typeOfMedium + " " + aktion; 
            selFrm.warnFld.innerHTML = "";
            switch (typeOfMedium) {
                case "Zeitschrift" : xhr("formular-zeitschrift.html", xhttpResponse); break;
                case "Artikel" : xhr("formular-artikel+buchaufsatz.html", xhttpResponse); break;
                case "Aufsatz" : xhr("formular-aufsatz.html", xhttpResponse); break;
                case "Buchaufsatz" : xhr("formular-artikel+buchaufsatz.html", xhttpResponse); break;
                default : xhr("formular-buch.html", xhttpResponse);    //Buch
            }
        }

        if (id === null) {
            matchingIDs = await dbAll(sqlTitelID(titel[0], 10, 0), []).catch(err => {return console.error(err)});
        } else if (titel.length === 0) {
            matchingIDs = await dbAll(sql[29], id).catch(err => {return console.error(err)});
        } else {
            matchingIDs = await dbAll(sqlTitelObjID(id, titel[0]),[]).catch(err => {return console.error(err)});    
        }
        return getTableOrResultForFormular (matchingIDs, selFrm.warnFld, selFrm.outFld, mediumData, callFormularBearbeiten);
    })
    selFrm.sbmtBtn.addEventListener("click", selFrm.sbmt);
    selFrm.onenter = function (event) 
    {
        function checkKey (event) {
            if (event.keyCode === 13 || event.which === 13) {
                event.preventDefault();
                selFrm.sbmtBtn.click();
            }
        }
        selFrm.textFld[0].addEventListener("keypress", checkKey);
        selFrm.textFld[1].addEventListener("keypress", checkKey);
    }
    selFrm.onenter();
    selFrm.oninput = function ()
    {
        function clear ()
        {
            selFrm.warnFld.innerHTML = "";
        }
        return Array.from(selFrm.textFld).forEach(fld => {return fld.addEventListener("input",clear)});
    }
    selFrm.oninput();

    let boolean = false;
    function esc (event)
    {
        if (event.key === "Escape" || event.code === "Escape") {
            event.preventDefault();
            if (boolean === true ) {
                let btns = Array.from(document.getElementsByName("tblBtn"));
                btns.forEach(btn => 
                {
                    if (btn.parentElement.parentElement.style.backgroundColor === tblHoverColor) {
                        return btn.parentElement.parentElement.removeAttribute("style");
                    }
                });
            }
            return document.getElementById("selId").select();
        }
    }
    document.getElementsByTagName("body")[0].addEventListener("keydown", esc, false);

    
    selFrm.textFld[0].addEventListener("keydown", function () {return boolean = enterTableOnArrowDown(event, "selTbl")});
    selFrm.textFld[1].addEventListener("keydown", function () {return boolean = enterTableOnArrowDown(event, "selTbl")});

    async function prepareFormsBearbeiten (mediumData, typeOfMedium)
    {
        console.log(mediumData);
        let standort, autoren, titel, sachgebietsnr, stichworte;
        let datacoll;
        let idArr = mediumData[1];
        function fillOutInputFlds (fieldname, dataObj)
        {
            let i = Object.keys(dataObj).indexOf(fieldname);
            if (document.getElementsByName(fieldname)[0] !== undefined) {
                    return document.getElementsByName(fieldname)[0].defaultValue = 
                        (dataObj[Object.keys(dataObj)[i]] === null) ? "" : dataObj[Object.keys(dataObj)[i]];
            }
        }

        cBFrmObj();
        document.getElementsByTagName("body")[0]
            .addEventListener("keydown", function () 
            {
                return strgC(event, document.getElementById("abbrBtn"))
            }, false);

        if (document.getElementsByName("id")[0] !== undefined) {
            document.getElementsByName("id")[0].value = idArr[0];
        }
        datacoll = await dbGet(sql[41], idArr).catch(err => {return console.error(err)});
        fillOutInputFlds("jahr", datacoll);
        fillOutInputFlds("ort", datacoll);
        fillOutInputFlds("verlag", datacoll);
        fillOutInputFlds("band", datacoll);
        fillOutInputFlds("seiten", datacoll);
        fillOutInputFlds("hinweis", datacoll);
        fillOutInputFlds("preis", datacoll);
        fillOutInputFlds("link", datacoll);
        if (datacoll.autortyp === 1 && document.getElementsByName("autortyp")[0] !== undefined) {
            document.getElementsByName("autortyp")[0].checked = true;
            document.getElementsByName("autortyp")[0].setAttribute("value", "1");
        }
        if (document.getElementById("status") !== null) {
            Array.from(document.getElementById("status").options).forEach(option =>
            {
                if (option.value == datacoll.status) {
                    return option.setAttribute("selected", "selected");
                } else {
                    if (option.hasAttribute("selected")) {
                        return option.removeAttribute("selected");
                    } else {
                        return option;
                    }
                }
            });
        }
        if (typeOfMedium === "Buch") {
            datacoll = await dbGet(sql[42], [idArr[2]]).catch(err => {return console.error(err)});
            datacoll = (datacoll === undefined) ? {auflage: null, isbn: null} : datacoll;
            fillOutInputFlds("auflage",datacoll);
            fillOutInputFlds("isbn",datacoll);
        }
        if (typeOfMedium === "Zeitschrift") {
            let zeitschrift = await dbGet(sql[43], [idArr[1]]).catch(err => {return console.error(err)});
            document.getElementsByName("zeitschrift")[0].defaultValue = zeitschrift.journal;
            document.getElementsByName("zeitschriftkuerzel")[0].defaultValue = zeitschrift.kuerzel;
            document.getElementsByName("nr")[0].defaultValue = (zeitschrift.nr === null) ?
                "" : zeitschrift.nr;
        }
        if (typeOfMedium === "Artikel") {
            selectedID = idArr[0];
        }
        if (typeOfMedium === "Buchaufsatz") {
            selectedIncollID = idArr[0];
        }
        if (document.getElementById("standort") !== null) {
            cStandorteOptions(document.getElementById("standort"));
            standort = await dbGet(sql[36], [idArr[0]]).catch(err => {return console.error(err)});
            Array.from(document.getElementById("standort")).forEach(item =>
            {
                if (item.innerHTML.includes(standort.standortsgn)) {
                    return item.selected = true;
                } else {
                    return item;
                }
            });
        }
        if (document.getElementsByName("sachgebietsnr")[0] !== undefined) {
            sachgebiete = await dbAll(sql[39], [idArr[0]]).catch(err => {return console.error(err)});
            if (sachgebiete !== undefined) {
                sachgebiete.forEach(sachgebiet =>
                {
                    document.getElementsByName("sachgebietsnr")[0].innerHTML += 
                        sachgebiet.sachgebietid + "\n";
                    let sg = (Number(sachgebiet.sachgebietid)%100 === 0) ? 
                        "OSG - " + sachgebiet.sachgebiet :
                        "USG - " + sachgebiet.sachgebiet;
                    document.getElementsByName("sachgebiete")[0].innerHTML += sg + "\n";
                });
            }
        }
        autoren = await dbAll(sql[37], idArr).catch(err => {return console.error(err)});
        if (autoren !== undefined) {
            autoren.forEach(autor =>
            {
                if (autor.vorname === "") {
                    return document.getElementsByName("autoren")[0].innerHTML += 
                        autor.name + "\n";
                } else {
                    return document.getElementsByName("autoren")[0].innerHTML += 
                        autor.name + ", " + autor.vorname + "\n";
                }
            });
        }
        titel = await dbAll(sql[38], idArr).catch(err => {return console.error(err)});
        titel.forEach(titel =>
        {
            return document.getElementsByName("titel")[0].innerHTML += titel.titel + "\n";
        });
        stichworte = await dbAll(sql[40], idArr).catch(err => {return console.error(err)});
        if (stichworte !== undefined) {
            stichworte.forEach(stichwort =>
            {
                return document.getElementsByName("stichworte")[0].innerHTML +=
                    stichwort.stichwort + "\n";
            });
        }
        switch (typeOfMedium) {
        case "Artikel" :
            olddata = articleData(document.forms.bFrm);
            break;
        case "Zeitschrift" :
            olddata = journalData(document.forms.bFrm);
            break;
        case "Aufsatz" :  
            olddata = essayData(document.forms.bFrm);
            break;
        case "Buchaufsatz" :
            olddata = incollectionData(document.forms.bFrm);
        break;
        default : //typeOfMedium = "Buch"                        
            olddata = bookData(document.forms.bFrm);
        }
        return selFrm.mediumData = idArr;
    }
    
</script>

</body>

<footer>
</footer>
</html>