<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>ksbib | Dokumentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="all"/>
    <script src="../app/main.js"></script>
    <script src="../app/table.js"></script>
    <script src="../app/validation.js"></script>
    <script src="../app/sql.js"></script>
</head>         


<body onunload="qsearchFrm.reset(); dsearchFrm.reset(); db.close();">

<header>
    <h1 id="headerTitel">Dokumentation</h1>
</header>

<nav>
    <ul class="dropdown">
        <a href="index.html" id="navMedien">Medien</a>
        <div class="dropdown-content">
            <a href="sachgebietssuche.html">Sachgebietssuche</a>
            <a href="neuaufnahme.html">Hinzufügen</a>
            <a href="bearbeiten.html">Bearbeiten</a>
            <a href="entfernen.html">Entfernen</a>
        </div>
    </ul>
    <ul class="dropdown">
        <a href="sonstiges.html" id="navSonstiges">Sonstiges</a>
        <div class="dropdown-content">
            <a href="standorte.html">Standorte</a>
            <a href="sachgebiete.html">Sachgebiete</a>
            <a href="doku.html">Dokumentation</a>
        </div>
    </ul>
    <ul class="floatright">
        <a id="navBeenden" onclick="closeApp()">&#x23FC;</a>
    </ul>    
</nav>

<article>
    
    <h1> Tastaturkürzel </h1>

    <table class="center">
        <tr>
            <th>Tastenkombination</th>
            <th>Aktion</th>    
        </tr>
        <tr>
            <td> Strg + q </td>
            <td> Beendet das Programm </td>
        </tr>
        <tr>
            <td> Strg + w / Shift + Super + c</td>
            <td> Schließt ein Fenster </td>
        </tr>
        <tr>
            <td> Alt + m </td>
            <td> Öffnet das Menu "Medien" </td>
        </tr>
        <tr>
            <td> Alt + s </td>
            <td> Öffnet das Menu "Sonstiges" </td>
        </tr>
        <tr>
            <td> Strg + c </td>
            <td> Click auf den Abbrechen Button </td>
        </tr>
        <tr>
            <td> Pfeiltasten </td>
            <td>
                <ul>
                    <li>Innerhalb des Menus: Auswahl der Seiten</li>
                    <li>Auf der Seite "Hinzufügen" im Formular "Auswahl der Medienarten": Auswahl der Medienarten</li>
                    <li>Auf den Seiten "Bearbeiten", "Standorte" und "Sachgebiete" gelangt man mit den Pfeiltasten in die Auswahltabelle</li>
                </ul> 
            </td>
        </tr>
        <tr>
            <td> Shift + &#x2191;</td>
            <td> Auf der Seite "Hinzufügen": Wechsel zum Formular "Auswahl der Medienarten" </td>
        </tr>
        <tr>
            <td> Shift + &#x2193;</td>
            <td> Auf der Seite "Hinzufügen": Wechsel zurück zum Eingabeformular </td>
        </tr>
        <tr>
            <td> Strg + d </td>
            <td> Auf der Seite "Medien": Wechsel zum Formular "Detailsuche" </td>
        </tr>
        <tr>
            <td> Strg + s </td>
            <td> Auf der Seite "Medien": Wechsel zum Formular "Schnellsuche" </td>
        </tr>
        <tr>
            <td>
                Enter
            </td>
            <td>
                <ul>
                    <li> In Checkboxes: click </li>
                    <li> In Eingabefeldern: "OK"</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Esc
            </td>
            <td>
                Bringt das Formular in einen Ausgangszustand zurück oder wirkt als "reset"
            </td>
        </tr>
    </table>

    <div class="info">
        <h1>Standorte</h1>
        <p>
            Jedes Medium hat einen Standort. Falls kein Standort ausgewählt wird, ist das automatisch "N.N."
            Vor der Medieneingabe sollten also die <a href="standorte.html">Standorte</a> in der Datenbank eingegeben 
            werden. Anstelle von Standorten, könnte man natürlich auch Kategorien eingeben. Die Standorte sind ein 
            Grundbestandteil der Signatur der Medien.
        </p>

        <h1>Signatur</h1>
        <p>
            Die Signatur wird durch das Programm automatisch vergeben und kombiniert den Standort
            und die ID des Mediums. Das Medium mit ID 112 am Standort WS-1 (Wohnzimmer Südwand Regal 1)
            hat entsprechend eine Signatur WS-1 112. Lücken in der ID, die durch das Löschen eines Mediums
            entstehen, werden vom Programm automatisch aufgefüllt.
        </p>

        <h1>Sachgebiete</h1>
        <p>
            Es wird in Ober- und Untersachgebiete unterschieden. Beide sind durch
            Sachgebietsnummern gekennzeichnet, die automatisch vergeben werden. Erst nachdem die
            <a href="sachgebiete.html">Sachgebiete</a> eingegeben wurden, können sie an Medien vergeben werden!
        </p>
        <p>
            Hier wird kurz die Logik der automatischen Nummernvergabe beschrieben: 
            Obersachgebiete haben die Sachgebietsnummern 0, 100, 200, ... , 9'900. 
            Z.B. könnte es ein Obersachgebiet "0 Architektur" geben. Die Untersachgebiete 
            zu dem Obersachgebiet "0 Architektur" haben die Nummern 1, 2, ... , 99. Zu jedem 
            der möglichen 100 Obersachgebiete können 99 Untersachgebiete vergeben werden. 
        </p>
        <p>
            Ein neues Buch könnte dem Untersachgebiet "5 Geschichte" aus dem Obersachgebiet 
            "0 Architektur" zugeordnet werden. Es gehört dann automatisch auch zum Obersachgebiet 
            Architektur und kann darunter gesucht werden.
        </p>
        <p>
            Hier findest Du eine Liste der aktuell vorhandenen Sachgebiete:
            <a href="drucken-sachgebiete.html" target="_blank">Liste der Sachgebiete</a> 
        </p>
        <h1>Dateien und URLs</h1>
        <p>
            Du kannst jeden Medientyp mit einem PDF verlinken, das auf Deinem Computer liegt, oder
            mit der URL einer Website. Dazu müssen die PDFs in das Standardverzeichnis <b>/ksbib/files/</b>
            abgelegt werden.
        </p>
        <h1>Hintergrund</h1>
        <p>
            ksbib ist für den hannoveranischen Architekten Karsten Schlüter entwickelt worden.
        </p>
    </div>


</article>
<script src="../app/shortkeys.js"></script>
</body>
<footer>
</footer>
</html>
