<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8"/>
  <title>ksbib | Sachgebietsliste</title>
  <link rel="stylesheet" href="../styles/print.css" type="text/css" media="all"/>
  <script>
    function printContent(content_div, printing_div) 
    {
      document.getElementById(printing_div).innerHTML = document.getElementById(content_div).innerHTML;
      window.print();
    }
  </script>
</head>

<body>

<div class="printer forscreen">
    <input type="button" value="Drucken" onclick="printContent('content_div_id', 'printing_div_id')">
</div>

<div class="article forscreen" id="content_div_id">
    <h1>Sachgebiete</h1>
</div>

<div id="printing_div_id" class="forprinter"></div>

</body>
</html>