<form id='selIDFrm' class="center">
    <div class='rTable'>
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell">
                    <label for="selIDStr">ID</label>
                </div>
                <div class='rTableCell'>
                    <input type="text" id="selIDStr" class="txt" size="5" autofocus>
                </div>
                <div class='rTableCell'>
                    <input type="button" id="selIDOKBtn" class="btn" value="OK">
                </div>
            </div>
        </div>
    </div>
    <div id="selIDFrmWarnFld" class="warning center"></div>
</form>

<div id="selIDOutFld" class="margin"></div>