<!--

buch + buch-CD
{
	// Wenn man ein Kapitel aus einem Buch hat, dann die Seiten
	// auf die Seiten des Kapitels beschränken und einen Hinweis
	// einfügen

	objekt.ID
	standort
	autoren
	autortyp            (autortyp = 0 : autor; 1 : hrg)
	titel + untertitel	(titeltyp = 0 : buchtitel/cdtitel)
	band
	jahr
	ort
	verlag
	auflage
	isbn
	preis
	seiten
	sachgebiete
	hinweis
	stichworte
}

musik-CD
{
	objekt.ID
	standort
	künstler
	titel 		(titeltyp = 0 : buchtitel/cdtitel)
	tracks		(titeltyp = 1 : aufsatztitel/track)
	band
	jahr
	verlag
	auflage
	preis
	hinweis
	stichworte
}

-->

<form id="bFrm" class="center">
    <div class='rTable' style="width: 400px">
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell left">
                	<label>ID</label><br>
                	<input type="text" class="txt" name="id" size="4" readonly="readonly" tabindex="-1">
                </div>
                <div class="rTableCell left">
                	<label for="standort">Standort</label><br>
                	<select id="standort">
                        <option value="0" selected="selected">n.A.</option>
                	</select>
                </div>
            </div>
            <div class='rTableRow'>
                <div class="rTableCell left">
                	<label onclick="window.alert(
                        'Bitte gib die Autornamen folgendermaßen ein: Müller, Hans F. \nVor jeder weiteren AutorIn drücke \'Enter\'.'
                    )">Autoren *</label><br>
                	<textarea class='textareanowrap' name='autoren' rows='5' cols="37"></textarea>
                </div>
                <div class="rTableCell left" style="vertical-align: middle">
                	<label>Hrg.</label><br>
                	<input type="checkbox" name="autortyp" onchange="this.checked ? this.value = 1 : this.value = 0" value="0">
                </div>
            </div>
        </div>
	</div>
	<div class='rTable' style="width: 400px">
        <div class='rTableBody'>        
            <div class='rTableRow'>
            	<div class="rTableCell left">
            	<label onclick="window.alert(
                    'Bitte gib den Buchtitel zuerst ein. Falls es einen Untertitel gibt, drücke \'Enter\'. Jede durch \'Enter\' neu begonnene Zeile wird als (weiterer) Untertitel interpretiert.'
                )">Buchtitel und Untertitel *</label><br>
                <textarea class='textareawrap' name='titel' rows='5' cols="49"></textarea>
            </div>
            </div>
        </div>
    </div>
    <div class='rTable' style="width: 400px">
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell left">
                	<label>Jahr</label><br>
                	<input type="text" class="txt" name="jahr" value="" size="4">
                </div>
                <div class="rTableCell left">
                	<label>Ort</label><br>
                	<input type="text" class="txt" name="ort" value="" size="20">
                </div>
            </div>
            <div class='rTableRow'>
                <div class="rTableCell left">
                	<label>Verlag</label><br>
                	<input type="text" class="txt" name="verlag" value="" size="25">
                </div>
                <div class="rTableCell left">
                	<label>Auflage Nr</label><br>
                	<input type="text" class="txt" name="auflage" value="" size="4">
                </div>
            </div>
            <div class='rTableRow'>
            	<div class="rTableCell left">
                	<label>Band Nr</label><br>
                	<input type="text" class="txt" name="band" value="" size="1">
                </div>
                <div class="rTableCell left">
                	<label>Seiten</label><br>
                	<input type="text" class="txt" name="seiten" value="" size="10">
                </div>
            </div>

            <div class='rTableRow'>
                <div class="rTableCell left">
                	<label>ISBN</label><br>
                	<input type="text" class="txt" name="isbn" value="" size="13">
                </div>
                <div class="rTableCell left">
                	<label>Preis (&euro;)</label><br>
                	<input type="text" class="txt" name="preis" value="" size="4">
                </div>
            </div>
            <div class='rTableRow'>
                <div class="rTableCell left">
                	<label onclick = "window.alert('Bitte zwischen den Sachgebietsnummern \'Enter\' drücken. Die Liste der Sachgebiete kannst Du mit dem Link erreichen (s.u.)')">Sachgebietsnr *</label><br>
                	<textarea class='textareanowrap' name='sachgebietsnr' rows="5" cols='15'></textarea>
                </div>
                <div class="rTableCell left">
                	<br>
                	<textarea class='textareahidden' name='sachgebiete' rows='5' cols='15' 
                        readonly="readonly" tabindex="-1" value=""></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class='rTable' style="width: 400px">
        <div class='rTableBody'>        
            <div class='rTableRow'>
            	<div class="rTableCell left">
            	<label>Anmerkung</label><br>
                <textarea class='textareawrap' name='hinweis' rows='5' cols="49"></textarea>
            </div>
            </div>
        </div>
    </div>
    <div class='rTable' style="width: 400px">
        <div class='rTableBody'>        
            <div class='rTableRow'>
            	<div class="rTableCell left">
            	   <label onclick="window.alert('Bitte zwischen jedem Stichwort \'Enter\' drücken')">Stichworte *</label><br>
                    <textarea class='textareanowrap' name='stichworte' rows='5' cols="37"></textarea>
                </div>
                <div class="rTableCell left">
                    <label for="status">Status</label><br>
                    <select id="status">
                        <option value="0" selected="selected">Vorhanden</option>
                        <option value="1">Abhanden</option>
                        <option value="2">Verliehen</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

        <div id="bFrmWarnFld" class="warning center">
        </div>

    <div>
        <input type="button" class="btn" id="bOKBtn" value="Speichern">
        <input type="button" class="btn" value="Abbrechen">
    </div>
</form>

<div class="info center" style="width: 400px">
    	Hier geht es zur Liste der <a href="drucken-sachgebiete.html" target="_blank">Sachgebiete</a>
</div>