
<form id="bFrm" class="center">
<div class='rTable' style="width: 400px">
<div class='rTableBody'>
<div class='rTableRow'>
    <div class='rTable' style="width: 400px">
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell left">
                    <label>ID</label><br>
                    <input type="text" name="id" size="4" readonly="readonly" tabindex="-1">
                </div>
            </div>
        </div>
    </div>
    <div class='rTable' style="width: 400px">
        <div class='rTableBody'>        
            <div class="rTableRow">
                <div class="rTableCell left">
                    <label for="standort">Standort</label><br>
                    <select id="standort">
                        <option value="0" selected="selected">n.A.</option>
                    </select>
                </div>
                <div class="rTableCell left">
                    <label for="status">Status</label><br>
                    <select id="status">
                        <option value="0" selected="selected">Vorhanden</option>
                        <option value="1">Abhanden</option>
                        <option value="2">Verliehen</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rTableRow">
    <div class="rTable" style="width: 400px">
        <div class="rTableBody">
            <div class='rTableRow'>
                <div class="rTableCell left">
                	<label onclick="window.alert(
                        'Bitte gib die Namen der Herausgeber folgendermaßen ein: Müller, Hans F. \nVor jeder weiteren AutorIn drücke \'Enter\'.'
                    )">Herausgeber *</label><br>
                	<textarea class='textareanowrap' name='autoren' rows='5' cols="40"></textarea>
                </div>
            </div>
            <div class='rTableRow'>
            	<div class="rTableCell left">
            	   <label onclick="window.alert(
                     'Bitte gib den Titel der Zeitschrift zuerst ein. Falls es einen Untertitel gibt, drücke \'Enter\'. Jede durch \'Enter\' neu begonnene Zeile wird als (weiterer) Untertitel interpretiert.'
                    )">Titel und Untertitel *</label><br>
                    <textarea class='textareawrap' name='titel' rows='5' cols="40"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rTableRow">
    <div class='rTable' style="width: 400px">
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell left">
                    <label>Zeitschrift<br></label>
                    <input type="text" list="zeitschriftenDL" name="zeitschrift" class= "txt" size="40" value=""
                        oninput="showDatalist(this.value+'%', 
                            document.getElementById('zeitschriftenDL'), sql[19]);"
                        onfocusout="insertZeitschriftkuerzelIfExists(this.value);">
                    <datalist id="zeitschriftenDL"></datalist>
                </div>
            </div>
            <div class="rTableRow">
                <div class="rTableCell left">
                    <label>Zeitschriftkürzel</label><br>
                    <input type="text" name="zeitschriftkuerzel" class="txt" size="40" value="">  
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rTableRow">
    <div class="rTable" style="width: 400px">
        <div class="rTableBody">
            <div class='rTableRow'>
                <div class="rTableCell left">
                	<label>Nr</label><br>
                	<input type="text" class="txt" name="nr" value="" size="4">
                </div>
                <div class="rTableCell left">
                    <label>Band</label><br>
                    <input type="text" class="txt" name="band" value="" size="4">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rTableRow">
    <div class="rTable" style="width: 400px">
        <div class="rTableBody">
            <div class="rTableRow">
                <div class="rTableCell left">
                	<label>Jahr</label><br>
                	<input type="text" class="txt" name="jahr" value="" size="4">
                </div>
                <div class="rTableCell left">
                	<label>Preis (&euro;)</label><br>
                	<input type="text" class="txt" name="preis" value="" size="4">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rTableRow">
    <div class="rTable" style="width: 400px">
        <div class="rTableBody">
            <div class='rTableRow'>
                <div class="rTableCell left">
                	<label onclick = "window.alert('Bitte zwischen den Sachgebietsnummern \'Enter\' drücken. Die Liste der Sachgebiete kannst Du mit dem Link erreichen (s.u.)')">Sachgebietsnr *</label><br>
                	<textarea class='textareanowrap' name='sachgebietsnr' rows="5" cols='10'></textarea>
                </div>
                <div class="rTableCell left">
                	<br>
                	<textarea class='textareahidden' name='sachgebiete' rows='5' cols='20' 
                        readonly="readonly" tabindex="-1" value=""></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rTableRow">
    <div class='rTable' style="width: 400px">
        <div class='rTableBody'>        
            <div class='rTableRow'>
            	<div class="rTableCell left">
            	   <label>Anmerkung</label><br>
                    <textarea class='textareawrap' name='hinweis' rows='5' cols="40"></textarea>
                </div>
            </div>
            <div class='rTableRow'>
            	<div class="rTableCell left">
            	   <label onclick="window.alert('Bitte zwischen jedem Stichwort \'Enter\' drücken')">Stichworte *</label><br>
                    <textarea class='textareanowrap' name='stichworte' rows='5' cols="40"></textarea>
                </div>
            </div>
            <div class='rTableRow'>
                <div class="rTableCell left">
                    <label onclick="
                        window.alert('Die Datei muss ein PDF sein und ihr Name darf nur +, -, _ als Sonderzeichen enthalten. Eine URL muss einen Anfang haben wie z.B. http://')">
                        Dateiname oder URL *
                    </label><br>
                    <input type="text" class="txt" name="link" value="" size="40">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

        <div id="bFrmWarnFld" class="warning center">
        </div>

    <div>
        <input type="button" class="btn" id="bOKBtn" value="Speichern">
        <input type="button" class="btn" value="Abbrechen" id="abbrBtn">
    </div>
</form>

<div class="info center" style="width: 400px">
    	Hier geht es zur Liste der <a href="drucken-sachgebiete.html" target="_blank">Sachgebiete</a>
</div>