<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>ksbib | Nauaufnahme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="all"/>
    <script src="../app/main.js"></script>
    <script src="../app/neuaufnahme-und-bearbeiten.js"></script>
    <script src="../app/validation.js"></script>
    <script src="../app/sql.js"></script>
</head>         


<body onunload="selFrm.reset();">

<header>
    <h1 id="headerTitel">Medien Hinzufügen</h1>
</header>

<nav>
    <ul class="dropdown">
        <li><a href="index.html">Medien</a></li>
        <div class="dropdown-content">
            <li><a href="sachgebietssuche.html">Sachgebietssuche</a></li>
            <li><a href="neuaufnahme.html">Hinzufügen</a></li>
            <li><a href="bearbeiten.html">Bearbeiten</a></li>
            <li><a href="entfernen.html">Entfernen</a></li>
        </div>
    </ul>
    <ul class="dropdown">
        <li><a href="sonstiges.html">Sonstiges</a></li>
        <div class="dropdown-content">
            <li><a href="standorte.html">Standorte</a></li>
            <li><a href="sachgebiete.html">Sachgebiete</a></li>
        </div>
    </ul>
</nav>

<article>
    <form id='selFrm' class="center">
        <div class="info">
            <input type="button" id="buch" class="btn margin" value="Buch" autofocus><br>
            <input type="button" id="buch" class="btn margin" value="Zeitschrift"><br>
            <input type="button" id="buch" class="btn margin" value="Aufsatz"><br>
            <input type="button" id="buch" class="btn margin" value="Artikel aus einer Zeitschrift"><br>
            <input type="button" id="buch" class="btn margin" value="Aufsatz aus einem Buch/Sammelband">
        </div>
        <div class='rTable'>
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell">
                    <select id="selFld">
                        <option value="0" selected="selected" style="color: gray">Bitte Wählen</option>
                        <option value="1">Buch</option>
                        <option value="2">Buchaufsatz</option>
                        <option value="3">Zeitschrift</option>
                        <option value="4">Artikel</option>
                        <option value="5">Aufsatz</option>
                        <option value="6">CD</option>
                    </select>
                </div>
            </div>
        </div>
        </div>
    </form>


    <div id="outFld" class="margin">
        <div class="info">
            Du kannst Bücher, Aufsätze, Zeitschriften aufnehmen. Alle diese bekommen eine eigenständige 
            Signatur / Inventarnummer, die ihren Ort im Archiv anzeigt. Speziell ist der Umgang mit Artikeln (aus einer Zeitschrift) und Buchaufsätzen. <b>Bitte mache Dir den Umgang damit klar !</b>
            <ul>
                <li>
                    Du willst die Aufsätze aus einem bereits vorhandenen Buch in der Datenbank einfügen, um sie online suchbar zu machen. Dann wähle "Buchaufsatz". Analog "Artikel" für eine Zeitschrift.
                </li>
                <li class="margin">
                    Du willst Aufsätze aus einem (noch) nicht vorhandenen Buch in einer Mappe 
                    bündeln und im Archiv an einem Ort unterbringen. Die Mappe soll eine Signatur erhalten, nicht aber 
                    die einzelnen Aufsätze. Dann wähle "Buchaufsatz". Analog wähle "Artikel" für eine Zeitschrift. 
                    <p>
                        Falls das Buch (oder die Zeitschrift) irgendwann ins Archiv gelangt, solltest Du die Mappe damit
                        ersetzen, es sei denn es macht Dir nichts aus, dass im Archiv zwei Objekte mit derselben Signatur 
                        nebeneinanderstehen (in der Datenbank gibt es nur ein Objekt mit der Signatur). 
                    </p>
                    <p>
                        Wenn die Mappe als eigenständiges Objekt im Archiv und in der Datenbank bestehen bleiben soll, müsstest Du das zum Archiv hinzugekommene Buch (die hinzugekommene Zeitschrift) extra aufnehmen 
                        (unter "Buch" bzw. "Zeitschrift"). Es erhält dann 
                        eine eigene, unabhängige Signatur, wird aber auch an einem anderen Ort im Archiv stehen.
                    </p>
                </li>
                <li class="margin">
                    Du willst Aufsätze aus einem Buch, Artikel aus einer Zeitschrift oder lose Texte als eigenständige 
                    Positionen im Archiv aufstellen, dann wähle "Aufsatz". Auf ein übergeordnetes Buch oder eine Zeitschrift
                    kannst Du dann durch den Hinweis oder Schlüsselwörter verweisen.
                </li>
            </ul>
        </div>
    </div>
</article>
<script>
     
    aktion = "hinzufügen"; // defined in neuaufnahme-und-bearbeiten.js
    let xhttpResponse = function (xhttp)
    {
        document.getElementById("outFld").innerHTML = xhttp.responseText;
    }
    document.getElementById('selFld').onchange = function ()
    {
        if (this.value !== "0") {
            typeOfMedium = this.options[this.options.selectedIndex].innerHTML; // defined in neuaufnahme-und-bearbeiten.js
            switch (typeOfMedium) {
                case "Zeitschrift" : xhr("formular-zeitschrift.html", xhttpResponse); break;
                case "Artikel" : xhr("formular-artikel.html", xhttpResponse); break;
                case "Aufsatz" : xhr("formular-aufsatz.html", xhttpResponse); break;
                case "Buchaufsatz" : xhr("formular-buchaufsatz.html", xhttpResponse); break;
                case "CD" : xhr("formular-buch.html", xhttpResponse); break;
                default : xhr("formular-buch.html", xhttpResponse);   //Buch
            }
            return true;
        } else {
            document.getElementById("headerTitel").innerHTML = "Medien hinzufügen";            
            document.getElementById("outFld").innerHTML = "";
            return false;
        }
    }

    /*
        SQL
    */

    

</script>
</body>
</html>