<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>ksbib | Neuaufnahme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="all"/>
    <script src="../app/main.js"></script>
    <script src="../app/neuaufnahme-und-bearbeiten.js"></script>
    <script src="../app/validation.js"></script>
    <script src="../app/sql.js"></script>
</head>         


<body onunload="selFrm.reset();">

<header>
    <h1 id="headerTitel">Medien Hinzufügen</h1>
</header>

<nav>
    <ul class="dropdown">
        <li><a href="index.html">Medien</a></li>
        <div class="dropdown-content">
            <li><a href="sachgebietssuche.html">Sachgebietssuche</a></li>
            <li><a href="neuaufnahme.html">Hinzufügen</a></li>
            <li><a href="bearbeiten.html">Bearbeiten</a></li>
            <li><a href="entfernen.html">Entfernen</a></li>
        </div>
    </ul>
    <ul class="dropdown">
        <li><a href="sonstiges.html">Sonstiges</a></li>
        <div class="dropdown-content">
            <li><a href="standorte.html">Standorte</a></li>
            <li><a href="sachgebiete.html">Sachgebiete</a></li>
        </div>
    </ul>
</nav>

<article>
    <form id='selFrm' class="center">
        <div class='rTable'>
        <div class='rTableBody'>
            <div class='rTableRow'>
                <div class="rTableCell">
                    <input type="button" id="Buch" class="btn margin" value="Buch" autofocus>
                </div>
                <div class="rTableCell">
                    <input type="button" id="Zeitschrift" class="btn margin" value="Zeitschrift">
                </div>
                <div class="rTableCell">
                    <input type="button" id="Aufsatz" class="btn margin" value="Aufsatz">
                </div>
                <div class="rTableCell">
                    <input type="button" id="Artikel" class="btn margin" value="Artikel">
                </div>
                <div class="rTableCell">
                    <input type="button" id="Buchaufsatz" class="btn margin" value="Buchaufsatz">
                </div>
            </div>
        </div>
        </div>
    </form>


    <div id="outFld" class="margin">
        <div class="info">
            <p>
                Bücher, Aufsätze, Zeitschriften erhalten eine eigenständige Signatur / Inventarnummer, die ihren 
                Ort im Archiv anzeigt. 
            </p>
            <p>
                Für Bücher und Zeitschriften die im Archiv existieren (Status 0 oder 2) oder
                (noch) nicht im Archiv existieren aber trotzdem in der Datenbank aufgenommen wurden 
                (Status 1, Standort n.A.), können ausserdem einzelne Aufsätze bzw. Artikel in die Datenbank gespeichert
                werden. Diese sind dann suchbar und werden mit der Signatur des zugehörigen Buches oder der
                Zeitschrift angezeigt. Voraussetzung ist, dass zuvor das Buch bzw. die Zeitschrift in der Datenbank
                gespeichert wurden.
            </p>
        </div>
    </div>
</article>
<script>
     
    aktion = "hinzufügen"; // defined in neuaufnahme-und-bearbeiten.js
    let xhttpResponse = function (xhttp)
    {
        document.getElementById("outFld").innerHTML = xhttp.responseText;
    }
    function pressBtn (type, link) 
    {
        typeOfMedium = type;
        for (let item of selFrm.elements) {item.setAttribute("style", "");}
        document.getElementById(type).setAttribute("style","background-color: #e6e6e6");
        return xhr(link, xhttpResponse);
    }
    document.getElementById("Buch").onclick = (()=> pressBtn("Buch", "formular-buch.html"));
    document.getElementById("Zeitschrift").onclick = (()=> pressBtn("Zeitschrift", "formular-zeitschrift.html"));
    document.getElementById("Aufsatz").onclick = (()=> pressBtn("Aufsatz", "formular-aufsatz.html"));
    document.getElementById("Buchaufsatz").onclick = (()=> pressBtn("Buchaufsatz", "formular-buchaufsatz.html"));
    document.getElementById("Artikel").onclick = (()=> pressBtn("Artikel", "formular-artikel.html"));
    

</script>
</body>
</html>