<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>ksbib | Sachgebiete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="all"/>
    <script src="../app/main.js"></script>
    <script src="../app/validation.js"></script>
</head>         


<body onunload="sgFrm.reset();">

<header>
    <h1 id="headerTitel">Sachgebiete</h1>
</header>

<nav>
    <ul class="dropdown">
        <a href="index.html" id="navMedien">Medien</a>
        <div class="dropdown-content">
            <a href="sachgebietssuche.html">Sachgebietssuche</a>
            <a href="neuaufnahme.html">Hinzufügen</a>
            <a href="bearbeiten.html">Bearbeiten</a>
            <a href="entfernen.html">Entfernen</a>
        </div>
    </ul>
    <ul class="dropdown">
        <a href="sonstiges.html" id="navSonstiges">Sonstiges</a>
        <div class="dropdown-content">
            <a href="standorte.html">Standorte</a>
            <a href="sachgebiete.html">Sachgebiete</a>
            <a href="doku.html">Dokumentation</a>
        </div>
    </ul>
</nav>

<article>

    
    <form id="sgFrm">
        <table id="sgTbl" class="center">
            <!--<tr>
                <th>Sachgebiete</th>
                <th></th>
            </tr>-->
            <tr>
                <td><input type="text" value="Architektur" class="plain txt bf" name="osg"></td>
                <td class="center"><input type="button" class="btn plain bf" value="+" name="sgPlusBtn"></td>
            </tr>
            <tr>
                <td><input type="text" value="Theorie" class="plain txt"></td>
                <td class="center"><input type="button" class="btn plain" name="sgMinusBtn" value="-"></td>
            </tr>
            <tr>
                <td><input type="text" value="Geschichte" class="plain txt"></td>
                <td class="center"><input type="button" class="btn plain" name="sgMinusBtn" value="-"></td>
            </tr>
            <tr>
                <td><input type="text" value="Geschichte" class="plain txt bf" name="osg"></td>
                <td class="center"><input type="button" class="btn plain bf" value="+" name="sgPlusBtn"></td>
            </tr>
            <tr>
                <td><input type="text" value="Architektur" class="plain txt"></td>
                <td class="center"><input type="button" class="btn plain" name="sgMinusBtn" value="-"></td>
            </tr>
        </table>
        <div id="sgFrmWarnFld" class="warning center"></div>
        <div class="center">
            <input type="button" id="sgOKBtn" value="OK" class="btn">
            <input type="button" id="sgAbbrBtn" value="Abbrechen" class="btn">
        </div>
    </form>

    <div class = "info center margin">
        <p>
            Liste der aktuellen Sachgebiete <a href="drucken-sachgebiete.html" target="_blank">drucken</a>
        </p>
    </div>

    <form id="osgFrm">
        <div class="center">
            <p>Neues Obersachgebiet hinzufügen oder löschen:</p>
            <input type="text" class="txt" autofocus="autofocus">
            <input type="button" id="osgPlusBtn" value="+" class="btn">
            <input type="button" id="osgMinBtn" value="-" class="btn">
        </div>
        <div id="osgFrmWarnFld" class="warning center"></div>
    </form>

    <div id="outFld" class ="margin">
        <div class="info">
        <p>
            Klicke auf ein Sachgebiet, um es zu verändern. Falls Du ein neues Untersachgebiet
            hinzufügen willst, klicke bei dem entsprechenden Obersachgebiet auf "+".
            Wenn Du ein Untersachgebiet löschen willst, klicke auf "-" im entsprechenden Eintrag. 
            Wenn Du diese Aktion rückgängig machen willst, drücke nochmals auf "-".
        </p>
        <p>
            Ein neues Obersachgebiet kannst Du hinzufügen, indem Du es in das Eingabefeld einträgst und
            dort anschliessend auf "+" klickst. Um es zu löschen, verfahre analog; die zugehörigen
            Untersachgebiete werden dann ebenfalls gelöscht.
        </p>
        <p>
            Erst wenn Du auf "OK" klickst, werden sämtliche Änderungen gespeichert. Wenn 
            Du "Abbrechen" anklickst oder die Seite verlässt, gehen alle Änderungen verloren.
        </p>
        </div>
    </div>

</article>

<script src="../app/shortkeys.js"></script>
<script>

/*  
    --- To Do ---

    = Laden der Daten
    - Falls keine Sachgebiete eingetragen wurden, soll der erste Eintrag eine
    Reihe sein mit Wert "neues Obersachgebiet".
    
    = Abbrechen

    = Speichern
    - Trimmen !!

*/

    var sgFrm = new cformular (
        document.getElementById("sgFrm"), 
        document.getElementById("sgFrmWarnFld"), 
        document.getElementById("outFld"), 
        document.getElementById("sgOKBtn")
    );
    sgFrm.rmColor = "grey";
    sgFrm.noTxt = sgFrm.textFld.length;
    sgFrm.tbl = document.getElementById("sgTbl");
    sgFrm.minBtn = document.getElementsByName("sgMinusBtn");
    //sgFrm.noReihe = sgFrm.minBtn.length;
    sgFrm.oninput = function ()
    {
        if (this.style.color == warnColor) {
            this.style.color = defaultColor;
        }
        sgFrm.warnFld.innerHTML = "";
    }
    sgFrm.onfocusout = function ()
    {
        /*
        Diese Funktion wird beim Verlassen eines Eingabefeldes ausgeführt.

        Falls eine leere, neu hinzugefügte Reihe verlassen wird, soll diese 
        gelöscht werden. Eine zuvor bestehende, geleerte Reihe soll beim
        Verlassen wiederhergestellt werden.

        Damit erst die Bedingungen geprüft werden und dann gelöscht wird, 
        wird ein zeitlicher "delay" eingeführt
        */

        if (this.value.trim() !== "") { return; }
        var noReihe = sgFrm.tbl.rows.length;
        var reihe = this.parentNode.parentNode;
        var i = reihe.rowIndex;
        var x, z;
        z = reihe.children[0].firstChild;
        if (z.value.trim() == "") {
            function rmReihe () 
            {
                var akt = document.activeElement; 
                var aktReihe = akt.parentNode.parentNode;
                if (akt.id == "sgAbbrBtn") { return; } else {
                    switch (reihe.className) {
                        case "neueReihe":
                            sgFrm.tbl.deleteRow(i);
                            if (i == noReihe - 1) {
                                sgFrm.tbl.rows[i-1].firstElementChild.firstElementChild.select();
                            } else {    
                                sgFrm.tbl.rows[i].firstElementChild.firstElementChild.select();
                            }
                            break;
                        default:
                            z.value = z.defaultValue;
                    }
                }
            }
            function delay () {
                x = setTimeout(rmReihe, 0);
            }
            delay();
        } else { return; }
    }
    sgFrm.newReset ( function () 
    {
        /*
        Abbrechen Button:
        alle Änderungen werden rückgängig gemacht
        */
/*
        osgFrm.textFld[0].value = "";
        osgFrm.warnFld.innerHTML = "";
        sgFrm.warnFld.innerHTML = "";
        let i;
        let reihe = sgFrm.tbl.rows;
        let noReihe = reihe.length;
        for (i = 1; i < noReihe; i++) {
            if (reihe[i].className == "neueReihe") {   
                sgFrm.tbl.deleteRow(i);
                i = i - 1;
                noReihe = noReihe - 1;
            } else {
                reihe[i].children[0].firstChild.value = reihe[i].children[0].firstChild.defaultValue;
                reihe[i].children[0].firstChild.style.color = defaultColor;
            }
        }
*/
    })
    sgFrm.newSbmt ( function () 
    {
        /*
        OK Button:
        */

        let dataIn = Array.from(sgFrm.textFld);
        function greyOnes (sg)
        {
            return sg.style.color !== sgFrm.rmColor;
        }
        function conformAndValidateSgFrm (dataArr) 
        {
            err = [];
            let dataConformed = dataArr.map(conformAndValidateSachgebiet, dataArr);
            return dataConformed;
        }
        data = conformAndValidateSgFrm(dataIn); 
        if (err.length !== 0) {
            let firstError = err[0].split("*");
            dataIn[firstError[0]].style.color = warnColor;
            dataIn[firstError[0]].select();
            sgFrm.warnFld.innerHTML = firstError[1];
        } else {
            let conf = confirm("Änderungen speichern ?")
            if (conf == false) { 
                return; 
            } else {
                return;
            }
        }
    })
    sgFrm.onenter = function (event)
    {
        //Falls im Eingabefeld Enter gedrückt wird, soll gespeichert werden
        if (event.keyCode == 13 || event.which == 13) {
                sgFrm.sbmtBtn.click();
            } else { return; }
    }
    sgFrm.minusBtn = function ()
    {
        var sg = this.parentNode.parentNode.children[0].firstChild;
        if (sg.style.color == sgFrm.rmColor) {
            sg.style.color = defaultColor;
        } else {
            sg.style.color = sgFrm.rmColor;
        }
    }
    sgFrm.plusBtn = function ()
    {
        /*
        Anklicken eines Plus-Buttons:
        Es soll eine leere Zeile an erster Stelle unterhalb des entsprechenden 
        Obersachgebietes eingefügt werden. Die neue Zeile <tr class="neueZeile"> wird 
        durch die Klasse markiert.
        Die Anzahl der neuen USGe pro OSG wird auf 20 beschränkt
        */

        let osg = document.getElementsByName("osg");
        let noOsg = osg.length;
        let i;
        let c = 1;
        let j = this.parentNode.parentNode.rowIndex;
        let k = typeof osg[i+1] !== 'undefined' ? 
                osg[i+1].parentNode.parentNode.rowIndex : sgFrm.tbl.rows.length;
        for (i=j; i<k; i++ ){
            if (sgFrm.tbl.rows[i].className == "neueReihe" && sgFrm.tbl.rows[i].children[0].firstChild.name !== "osg") {
                c++;
            }
        }
        if ( c > 20 ){
            sgFrm.warnFld.innerHTML = message[1]('20 Untersachgebiete je Obersachgebiet pro Durchlauf');
            return;
        }
        let zelle = [];
        let aktReihe = this.parentNode.parentNode;
        i = aktReihe.rowIndex;
        var btn = sgFrm.btn[0].cloneNode(true);
        btn.removeAttribute("class");
        btn.removeAttribute("value");
        btn.removeAttribute("name");
        btn.setAttribute("class", "btn plain");
        btn.setAttribute("value", "-");
        btn.addEventListener("click", sgFrm.minusBtn);
        var reihe = sgFrm.tbl.insertRow(i+1);
        reihe.setAttribute("class", "neueReihe");
        var textFld = sgFrm.textFld[0].cloneNode(true);
        textFld.addEventListener("input", sgFrm.oninput);
        textFld.addEventListener("focusout", sgFrm.onfocusout);
        textFld.addEventListener("keypress", sgFrm.onenter);
        textFld.addEventListener("click", textFld.select);
        textFld.removeAttribute("class");
        textFld.removeAttribute("name");        
        textFld.removeAttribute("value");
        textFld.setAttribute("class", "plain txt");
        textFld.style.fontWeight = "normal";
        zelle[0] = reihe.insertCell(0);
        zelle[0].appendChild(textFld);
        zelle[0].firstChild.value = "";
        zelle[0].firstChild.readonly = false;
        zelle[0].firstChild.style.color = defaultColor;
        zelle[0].firstChild.focus();
        zelle[1] = reihe.insertCell(1);
        zelle[1].setAttribute("class", "center");
        zelle[1].appendChild(btn);
    }

    let i;
    for (i=0; i < sgFrm.noTxt; i++) {
        sgFrm.textFld[i].addEventListener("input", sgFrm.oninput); 
        sgFrm.textFld[i].addEventListener("focusout", sgFrm.onfocusout);
        sgFrm.textFld[i].addEventListener("click", sgFrm.textFld[i].select);
        sgFrm.textFld[i].addEventListener("keypress", sgFrm.onenter);
    }
    document.getElementById("sgAbbrBtn").addEventListener("click", sgFrm.reset);
    sgFrm.sbmtBtn.addEventListener("click", sgFrm.sbmt);
    for (i = 0; i < sgFrm.minBtn.length; i++) {
        sgFrm.minBtn[i].addEventListener("click", sgFrm.minusBtn);
    }
    let plus = document.getElementsByName("sgPlusBtn");
    let noPlus = plus.length;
    for (i=0; i < noPlus; i++) {
        plus[i].addEventListener("click", sgFrm.plusBtn);
    }


    var osgFrm = new cformular (
        document.getElementById("osgFrm"), 
        document.getElementById("osgFrmWarnFld"), 
        document.getElementById("outFld"), 
        document.getElementById("osgPlusBtn")
    );
    osgFrm.newSbmt ( function () 
    {
        /*
        "+" Button:
        Das neue Obersachgebiet wird unten an die Tabelle angehängt.
        Falls es bereits existiert, wird eine Fehlermeldung ausgegeben.
        Es dürfen pro Arbeitsschritt nicht mehr als 50 Obersachgebiete hinzugefügt werden
        */

        var i;
        let osgEl = osgFrm.textFld[0];
        let osgArr = Array.from(document.getElementsByName("osg"));
        function onlyNew (osg)
        {
            return osg.parentNode.parentNode.className === "neueReihe";
        }
        function conformAndValidateOsgFrm (osg) 
        {
            err = [];
            function value (el) 
            {
                return el.value;
            }
            let vorhandeneOsg = Array.from(document.getElementsByName("osg")).map(value);
            let osgConformed = conformAndValidateStr(osg, 0, true, 40);
            let l = vorhandeneOsg.length;
            vorhandeneOsg.push(osgConformed);
            let newArr = vorhandeneOsg.filter(onlyUnique);
            if (newArr.length !== l) {
                return osgConformed;
            }
            else { 
                err[err.length] = i + "*" + message[4]("Das Obersachgebiet"); 
                return false;
            }
        }

        if (osgArr.filter(onlyNew).length > 19) {
            osgFrm.warnFld.innerHTML = message[1]("20 neue Obersachgebiete pro Durchlauf beschränkt");
            osgFrm.textFld[0].select();
            return;
        } else {
            newOsg = conformAndValidateOsgFrm(osgEl); 
        }
        if (err.length !== 0) {
            firstError = err[0].split("*");
            osgEl.style.color = warnColor;
            osgEl.select();
            osgFrm.warnFld.innerHTML = firstError[1];
            return;
        } else {
            var zelle = [];
            i = sgFrm.tbl.rows.length;
            var btn = document.getElementsByName("sgPlusBtn")[0].cloneNode(true);
            btn.addEventListener("click", sgFrm.plusBtn);
            var reihe = sgFrm.tbl.insertRow(i);
            reihe.setAttribute("class", "neueReihe");
            var textFld = sgFrm.textFld[0].cloneNode(true);
            textFld.addEventListener("input", sgFrm.oninput);
            textFld.addEventListener("focusout", sgFrm.onfocusout);
            zelle[0] = reihe.insertCell(0);
            zelle[0].appendChild(textFld);
            zelle[0].firstChild.value = newOsg;
            zelle[0].firstChild.readonly = false;
            zelle[0].firstChild.style.color = defaultColor;
            zelle[0].firstChild.focus();
            zelle[1] = reihe.insertCell(1);
            zelle[1].setAttribute("class", "center");
            zelle[1].appendChild(btn);
            osgFrm.textFld[0].value = "";
            osgFrm.textFld[0].select();
        }
    })
    osgFrm.minusBtn = function () 
    {
        /*
            "-" Button:
            Falls nur eine einzige Reihe existiert, soll nichts passieren.
            Falls die Eingabe des OSGs mit einem in der Tabelle bestehenden
            OSG übereinstimmt, soll das OSG samt USG aus der Tabelle gelöscht werden.

        */

        var i, j, k;
        var sel = osgFrm.textFld[0];
        var osg = document.getElementsByName("osg");
        var noOsg = osg.length;
        for (i=0; i < noOsg; i++) {
            if (strtrim(sel.value) == strtrim(osg[i].value)) {
                var conf = window.confirm("Das Obersachgebiet und sämtliche Untersachgebiete aus der Vorschautabelle löschen?");
                if (conf == true) {
                    var a = osg[i].parentNode.parentNode.rowIndex;
                    var b = typeof osg[i+1] !== 'undefined' ? 
                        osg[i+1].parentNode.parentNode.rowIndex : sgFrm.tbl.rows.length;
                    if (noOsg == 1) { 
                        j = a + 1; 
                        k = a + 1;
                        osg[0].value = "neues Obersachgebiet";
                        osg[0].select();
                    } else { 
                        j = a; 
                        k = a;
                        sel.select();
                    }
                    while (j < b) {
                        sgFrm.tbl.deleteRow(k);
                        j++
                    }
                    osgFrm.textFld[0].value = "";
                    return;
                } else {
                    osgFrm.textFld[0].select();
                    return;
                }
            }
        }
        osgFrm.warnFld.innerHTML = message[3]("Das Obersachgebiet");
        osgFrm.textFld[0].select();
    }
    osgFrm.oninput = function ()
    {
        if (osgFrm.warnFld.innerHTML = "") {return;}
        if (this.style.color == warnColor) {
            this.style.color = defaultColor;
        }
        osgFrm.warnFld.innerHTML = "";
    }
    osgFrm.onenter = function (event) 
    {
        /*
        Eventhandler: 
        Falls im Eingabefeld "Enter" gedrückt wird
        soll der "+" Button angeklickt werden
        */

        if (event.keyCode == 13 || event.which == 13) {
            event.preventDefault();
            osgFrm.sbmtBtn.click();
        }
    }
    
    osgFrm.textFld[0].addEventListener("input", osgFrm.oninput); 
    osgFrm.textFld[0].addEventListener("keypress", osgFrm.onenter);
    osgFrm.sbmtBtn.addEventListener("click", osgFrm.sbmt);
    osgFrm.btn[1].addEventListener("click", osgFrm.minusBtn);

/*
    TODO
    - Es soll keine Untersachgebiete ohne Obersachgebiet geben! Am besten auf der Ebene der Datenbank implementieren
*/

</script>

</body>

<footer>
    &copy; Kirsten Vogeler - Alle Rechte vorbehalten
</footer>

</html>
