<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>ksib | Sachgebietssuche</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="all"/>
    <script src="../app/main.js"></script>
</head>         


<body onunload="sgsFrm.reset();">

<header>
    <h1 id="headerTitel">Sachgebietssuche</h1>
</header>

<nav>
    <ul class="dropdown">
        <a href="index.html" id="navMedien">Medien</a>
        <div class="dropdown-content">
            <a href="sachgebietssuche.html">Sachgebietssuche</a>
            <a href="neuaufnahme.html">Hinzufügen</a>
            <a href="bearbeiten.html">Bearbeiten</a>
            <a href="entfernen.html">Entfernen</a>
        </div>
    </ul>
    <ul class="dropdown">
        <a href="sonstiges.html" id="navSonstiges">Sonstiges</a>
        <div class="dropdown-content">
            <a href="standorte.html">Standorte</a>
            <a href="sachgebiete.html">Sachgebiete</a>
            <a href="doku.html">Dokumentation</a>
        </div>
    </ul>
</nav>

<article>

<!--
    <form id='sgsFrm' hidden="hidden">
    <div class="center">
        <h1>Obersachgebiete</h1>
        <select id='sgsSel' multiple='multiple'>
            <option class="" value="0">Architektur</option>
            <option class="" value="100">Geschichte</option>
        </select>
    </div>
    <div class="center margin">
        <input type='button' id='sgsOKBtn' value='OK' class="btn">
        <input type='button' value='Verwerfen' class="btn">
    </div>
    <div id="sgsFrmWarnFld" class="warning center"></div>
    <div class="center margin">
        <p>
            Liste der aktuellen Sachgebiete <a href="drucken-sachgebiete.html" target="_blank">drucken</a>
        </p>
    </div>
    </form>
-->

    <form id='sgsFrm'>
    <div class="center">
        <h1>Unterrsachgebiete</h1>
        <select id='sgsSel' multiple='multiple'>
            <option class="bf" value="0">0000 - Architektur</option>
            <option value="1">0001 - Theorie</option>
            <option value="2">0002 - Geschichte</option>
            <option class="bf" value="100">0100 - Geschichte</option>
            <option value="101">0101 - Architektur</option>
        </select>
    </div>
    <div class="center margin">
        <input type='button' id='sgsOKBtn' value='OK' class="btn">
        <input type='button' value='Verwerfen' class="btn">
    </div>
    <div id="sgsFrmWarnFld" class="warning center"></div>
    <div class="center margin">
        <p>
            Liste der aktuellen Sachgebiete <a href="drucken-sachgebiete.html" target="_blank">drucken</a>
        </p>
    </div>
    </form>
        
    <div id="outFld" class="margin">
        <div class="info">
        <p>
            Du kannst ein oder mehrere Sachgebiete auswählen.
            Indem Du die Shift- oder Umschalttaste gedrückt hältst, kannst Du einen Bereich von Sachgebieten auswählen.
            Wenn Du die Control- oder Strg-Taste gedrückt haltst, kannst Du auseinanderliegende Einträge zur Auswahl hinzufügen oder entfernen.
        </p>
        </div>        
    </div>

</article>

<script src="../app/shortkeys.js"></script>
<script>

    /*
        Wenn auf "OK" geklickt wird soll die Überschrift von "OSG" in "Usg" geändert werden
        und die Daten neu geladen. Die OSGs sollen fett markiert sein.
        Der "OK" Button muss ebenfalls geändert werden: wenn er jetzt geklickt wird, soll
        als nächstes die Tabelle der Bücher gezeigt werden, die zu dem gewählten SG gehören.
    */

    var sgsFrm = new cformular (
        document.getElementById("sgsFrm"), 
        document.getElementById("sgsFrmWarnFld"), 
        document.getElementById("outFld"), 
        document.getElementById("sgsOKBtn")
    );
    sgsFrm.select = document.getElementById("sgsSel");
    sgsFrm.newReset ( function () 
    {
        /*
            "Verwerfen" Button:
        */  

        var opt = document.getElementsByTagName("option");
        var noOpt = opt.length;
        var i;
        for (i=0; i<noOpt; i++) {
            opt[i].selected = false;
        }
    })
    sgsFrm.onesc = function (event) 
    {
        /*
        Eventhandler: 
        Falls irgendwo im Dokument auf der Tastatur "Esc" gedrückt wird
        soll der "Verwerfen" Button angeklickt werden
        */

        if (event.keyCode == 27 || event.which == 27) {
            sgsFrm.reset();
        }
    }
    sgsFrm.selSize = function () 
    {
        var noOpt = sgsFrm.select.length;
        sgsFrm.select.size = noOpt < 10 ? noOpt : 10;
    }
    sgsFrm.selSize();

    sgsFrm.btn[1].addEventListener("click", sgsFrm.reset);
    document.getElementsByTagName("body")[0].addEventListener("keydown", sgsFrm.onesc);


</script>

</body>

<footer>
    &copy; Kirsten Vogeler - Alle Rechte vorbehalten
</footer>

</html>
