<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <title>ksbib | Standorte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" media="all"/>
    <script src="../app/main.js"></script>
    <script src="../app/validation.js"></script>
</head>         


<body onunload="stoFrm.reset();">

<header>
    <h1 id="headerTitel">Standorte</h1>
</header>

<nav>
    <ul class="dropdown">
        <a href="index.html" id="navMedien">Medien</a>
        <div class="dropdown-content">
            <a href="sachgebietssuche.html">Sachgebietssuche</a>
            <a href="neuaufnahme.html">Hinzufügen</a>
            <a href="bearbeiten.html">Bearbeiten</a>
            <a href="entfernen.html">Entfernen</a>
        </div>
    </ul>
    <ul class="dropdown">
        <a href="sonstiges.html" id="navSonstiges">Sonstiges</a>
        <div class="dropdown-content">
            <a href="standorte.html">Standorte</a>
            <a href="sachgebiete.html">Sachgebiete</a>
            <a href="doku.html">Dokumentation</a>
        </div>
    </ul>
</nav>

<article>
    
    <form id="stoFrm">
        <table id="stoTbl" class="center">
            <tr>
                <th>Standorte </th>
                <th>Sgn</th>
                <th><input type="button" id="stoPlusBtn" value="+" class="btn plain" autofocus></th>
            </tr>
            <tr>
                <td><input type="text" value="Ort" class="plain txt" name="ort"></td>
                <td><input type="text" value="Sgn" class="plain txt" name="sgn"></td>
                <td class="center"><input type="button" class="btn plain" name="stoMinusBtn" value="-"></td>
            </tr>
            <tr>
                <td><input type="text" value="Ort 2" class="plain txt" name="ort"></td>
                <td><input type="text" value="Sgn 2" class="plain txt" name="sgn"></td>
                <td class="center"><input type="button" class="btn plain" name="stoMinusBtn" value="-"></td>
            </tr>
        </table>
        <div id="stoFrmWarnFld" class="warning center"></div>
        <div class="center">
            <input type="button" id="stoOKBtn" value="OK" class="btn">
            <input type="button" id="stoAbbrBtn" value="Abbrechen" class="btn">
        </div>
    </form>


    <div id="outFld">
        <div class="info">
            Klicke auf einen Standort, um ihn zu verändern. Falls Du einen neuen
            Standort hinzufügen willst, klicke auf "+" oder drücke "+" auf der Tastatur.
            Wenn Du einen Standort löschen willst, klicke auf "-" im entsprechenden Eintrag. Wenn Du diese Aktion rückgängig machen willst, drücke nochmals
            auf "-".
            Erst wenn Du auf "OK" klickst, werden Deine Änderungen gespeichert. Wenn 
            Du "Abbrechen" anklickst oder die Seite verlässt, gehen alle Änderungen verloren.
        </div>
    </div>

    <div class = "info center">
        <p>Hier geht es zur Liste der aktuellen <a href="drucken-standorte.html" target="_blank">Standorte</a></p>
    </div>

</article>

<script src="../app/shortkeys.js"></script>
<script>

/*  
    --- To Do ---

    = Laden der Standorte.
    - Falls vom Nutzer noch kein Standort aufgenommen wurde, soll eine leere Zeile geladen werden.

    = Speichern der Standorte:
    - Prüfen auf doppelte

*/

    var stoFrm = new cformular (
        document.getElementById("stoFrm"), 
        document.getElementById("stoFrmWarnFld"), 
        document.getElementById("outFld"), 
        document.getElementById("stoOKBtn")
    );
    stoFrm.rmColor = "grey";
    stoFrm.noTxt = stoFrm.textFld.length;
    stoFrm.tbl = document.getElementById("stoTbl");
    stoFrm.minBtn = document.getElementsByName("stoMinusBtn");
    stoFrm.noReihe = stoFrm.minBtn.length;
    stoFrm.oninput = function ()
    {
        if (this.style.color == warnColor) {
            this.style.color = defaultColor;
        }
        stoFrm.warnFld.innerHTML = "";
    }
    stoFrm.onfocusout = function ()
    {
        /*
        Diese Funktion wird beim Verlassen eines Eingabefeldes der Tabelle ausgeführt

        Falls eine leere, neu hinzugefügte Reihe verlassen wird, soll diese 
        gelöscht werden. Eine zuvor bestehende, geleerte Reihe soll beim
        Verlassen wiederhergestellt werden.

        Falls nur eine einzige leere Reihe existiert (der Nutzer hat
        keinen Standort gespeichert), soll nichts passieren.
        
        Damit erst die Bedingungen geprüft werden und dann gelöscht wird, 
        wird ein zeitlicher "delay" eingeführt
        */

        if (this.value.trim() !== "" || stoFrm.noReihe == 1) { return; }
        let noReihe = document.getElementsByName("stoMinusBtn").length;
        let reihe = this.parentNode.parentNode;
        let i = reihe.rowIndex;
        let x;
        let z = [];
        z[0] = reihe.children[0].firstChild;
        z[1] = reihe.children[1].firstChild;
        if (z[0].value.trim() == "" && z[1].value.trim() == "") {
            function rmReihe () 
            {
                var akt = document.activeElement; 
                var aktReihe = akt.parentNode.parentNode;
                if (akt.id == "stoAbbrBtn") { return; }
                if (aktReihe.tagName == "TR" && aktReihe.rowIndex == i && akt.type !== "button") { return; } 
                else {
                    switch (reihe.className) {
                        case "neueReihe":
                            stoFrm.tbl.deleteRow(i);
                            stoFrm.tbl.rows[i].firstElementChild.firstElementChild.select();
                            break;
                        default:
                            z[0].value = z[0].defaultValue;
                            z[1].value = z[1].defaultValue;
                    }
                }
            }
            function delay () {
                x = setTimeout(rmReihe, 0);
            }
            delay();
        } else { return; }
    }
    stoFrm.newReset ( function () 
    {
        /*
        Abbrechen Button:
        alle Änderungen werden rückgängig gemacht
        */

        stoFrm.warnFld.innerHTML = "";
        let i = 0;
        let reihe;
        let aktNoReihe = document.getElementsByName("stoMinusBtn").length;
        let neueReihe = document.getElementsByClassName("neueReihe");
        let noNeueReihe = neueReihe.length;
        for (i=0; i < aktNoReihe; i++) {
            if (i < noNeueReihe) {
                stoFrm.tbl.deleteRow(1);
            } else {
                reihe = stoFrm.tbl.rows[i - noNeueReihe +1];
                reihe.children[0].firstChild.value = reihe.children[0].firstChild.defaultValue;
                reihe.children[0].firstChild.style.color = defaultColor;
                reihe.children[1].firstChild.value = reihe.children[1].firstChild.defaultValue;
                reihe.children[1].firstChild.style.color = defaultColor;
            }
        }
    })
    stoFrm.newSbmt ( function () 
    {
        /*
        OK Button:
        */

        let dataIn = {
            standorte: Array.from(document.getElementsByName("ort")), 
            signaturen: Array.from(document.getElementsByName("sgn"))
        };
        function conformAndValidateStoFrm (obj)
        {
            err = [];
            let dataConformed = {
                standorte:  obj.standorte.map(conformAndValidateStandorteArr, obj.standorte),
                signaturen: obj.signaturen.map(conformAndValidateStandortSgnArr, obj.signaturen)
            }
            return dataConformed;
        }
        let data = conformAndValidateStoFrm(dataIn);
        if (err.length !== 0) {
            let firstError = err[0].split("*");
            if (firstError[0].match(/sto/)) {      //der Fehler ist bei einem Standort
                dataIn.standorte[firstError[0].slice(3)].style.color = warnColor;
                dataIn.standorte[firstError[0].slice(3)].select();
            } else {                                // der Fehler ist bei einer Standortsignatur
                dataIn.signaturen[firstError[0].slice(3)].style.color = warnColor;
                dataIn.signaturen[firstError[0].slice(3)].select();
            }
            stoFrm.warnFld.innerHTML = firstError[1];
        } else {
            let conf = confirm("Änderungen speichern ?")
            if (conf == false) { 
                return; 
            } else {
                return;
            }
        }  
    })
    stoFrm.minusBtn = function ()
    {
        var sto = this.parentNode.parentNode.children[0].firstChild;
        var sgn = this.parentNode.parentNode.children[1].firstChild;
        if (sto.style.color == stoFrm.rmColor) {
            sgn.style.color = defaultColor;
            sto.style.color = defaultColor;
        } else {
            sgn.style.color = stoFrm.rmColor;
            sto.style.color = stoFrm.rmColor;
        }
    }
    stoFrm.plusBtn = function ()
    {
        /*
        Drücken des Plus-Buttons:
        Falls nur eine einzige Reihe existiert und leer ist soll nichts passieren.
        Andernfalls soll eine leere Zeile an erster Stelle eingefügt werden.
        Pro Durchlauf dürfen nur 50 Standorte hinzugefügt werden.
        */

        var aktNoReihe = document.getElementsByName("stoMinusBtn").length;
        if ( aktNoReihe == 1 ) { 
            var zellen = stoFrm.tbl.rows[1].children;
            if (zellen[0].firstChild.value.trim() == "" && zellen[1].firstChild.value.trim() == "") {
                zellen[0].firstChild.select(); 
                return;
            }
        }
        if (document.getElementsByClassName("neueReihe").length > 49) {
            stoFrm.warnFld.innerHTML = message[1]("50 Standorte pro Durchlauf");
            return;
        }
        let i = 0;
        let textFld = [];
        let zelle = [];
        let btn = document.getElementsByName("stoMinusBtn")[0].cloneNode(true);
        btn.addEventListener("click", stoFrm.minusBtn);
        let reihe = stoFrm.tbl.insertRow(1);
        reihe.setAttribute("class", "neueReihe");
        while (i < 2) {
            textFld[i] = stoFrm.textFld[i].cloneNode(true);
            textFld[i].addEventListener("input", stoFrm.oninput);
            textFld[i].addEventListener("focusout", stoFrm.onfocusout);
            textFld[i].addEventListener("click", textFld[i].select);
            textFld[i].addEventListener("keypress", stoFrm.onenter);
            zelle[i] = reihe.insertCell(i);
            zelle[i].appendChild(textFld[i]);
            zelle[i].firstChild.value = "";
            zelle[i].firstChild.readonly = false;
            zelle[i].firstChild.style.color = defaultColor;
            i++;
        }
        zelle[0].firstChild.focus();
        zelle[0].firstChild.name = "ort";
        zelle[1].firstChild.name = "sgn";
        zelle[2] = reihe.insertCell(2);
        zelle[2].setAttribute("class", "center");
        zelle[2].appendChild(btn);
    }
    stoFrm.onplus = function (event) 
    {
        /*
        Eventhandler: 
        Falls irgendwo im Dokument auf der Tastatur "+" gedrückt wird
        soll der "+" Button angeklickt werden
        */

        if (event.keyCode == 43 || event.which == 43) {
            event.preventDefault();
            stoFrm.btn[0].click();
        }
    }
    stoFrm.onenter = function (event)
    {
        if (event.keyCode == 13 || event.which == 13) {
                stoFrm.sbmtBtn.click();
            } else { return; }
    }

    let i;
    for (i=0; i < stoFrm.noTxt; i++) {
        stoFrm.textFld[i].addEventListener("input", stoFrm.oninput); 
        stoFrm.textFld[i].addEventListener("focusout", stoFrm.onfocusout);
        stoFrm.textFld[i].addEventListener("click", stoFrm.textFld[i].select);
        stoFrm.textFld[i].addEventListener("keypress", stoFrm.onenter);
    }
    document.getElementById("stoAbbrBtn").addEventListener("click", stoFrm.reset);
    stoFrm.sbmtBtn.addEventListener("click", stoFrm.sbmt);
    for (i = 0; i < stoFrm.noReihe; i++) {
        stoFrm.minBtn[i].addEventListener("click", stoFrm.minusBtn);
    }
    stoFrm.btn[0].addEventListener("click", stoFrm.plusBtn);
    document.getElementsByTagName("body")[0].addEventListener("keypress", stoFrm.onplus);

</script>

</body>

</html>
